*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to right, #f17908 0%, #ee2e1d 100%); */
    /* background-color: black; */
    

    font-size: 10px;
}

body{
    display: grid;
    place-items: center center;
}

#chat-container{
    display: grid;
    grid: 
        'person-details chat-title' 71px
        'conversation-complex chat-complex' minmax(0,1fr)
        'new-message-container chat-form' 78px
        /275px 1fr;
    
    width: 100%;
   
    height: 100%;
    background: #fff;
    border-radius: 10px;
}

#person-details{
    display: grid;
    align-items: center;
    padding: 0 20px;
    grid-area: person-details;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    background-color: #eee;
    border-right: 1px solid #7e1603;
    color: #7e1603;
    font-weight: bold;
    font-size: 1.5rem;
}

#conversation-complex{
    display: grid;
    grid-area: conversation-complex;
    grid:
        'search-container' 70px
        'conversation-list' minmax(0,1fr)
        /1fr;
}

#chat-complex{
    display: grid;
    grid-area: chat-complex;
    grid:
        'prob-statement' 70px
        'chat-area' minmax(0,1fr)
        'radioButtons' 70px
        /1fr;
}
.hint-icon{
	height: 50px;
	width: 50px;
	margin-top:5px;
	background: url('/assets/images/hint.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

#radioButtons{
    
    /* display:grid;
    grid-area: radioButtons;
    display: inline-flex;
    align-items: center;
    background-color: #eee;
    border-top: 1px solid rgba(0,0,0,0.25); */
    display: grid;
    grid-column: 100;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: top;
    width:204px;
     background: url('/assets/images/bd.png') no-repeat rgba(255, 255, 255, 0.3);
    background-position: -10px 5px ;
    background-size: 212px 600px;
    background-color: #eee;
    border-top: 1px solid rgba(0,0,0,0.25);
    /* padding-top: 10px; */
    justify-content:space-between;
    
    
    
}
#radioButtons .red-back{
  color: #852804;
  background: #852804;
  height: 69px;
  width: 100%;
  margin-bottom: 10px;
}
.sendit{
	height: 60px;
	width: 80px;
	
	background: url('/assets/images/send.png');
	background-repeat:no-repeat;
	background-size:100% 100%;

}
#prob-statement{
    display: grid;
    grid-area: prob-statement;
    padding: 0px 40px;
    background-color:#852804;
    
    overflow: auto;
    border-bottom: 1px solid #7e1603;
}

#probdesc{
    display: inline-block;
}

#search-container,
#conversation-list,
#new-message-container{
    background: #852804;
    color: whitesmoke;
}

#search-container{
    display: grid;
    align-items: center;
    padding-right: 20px;
    grid-area: search-container;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
#searchbar{
    margin:auto;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#search-container input{
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url('/assets/images/history.png') no-repeat rgba(255, 255, 255, 0.3);
    background-position: 145px center;
    background-size: 38px 35px;

}

#search-container input::placeholder{
    color: #ddd;
    font-weight: bold;
}
.lock-icon{
	height: 50px;
	width: 50px;
	position:absolute;
	background: url('/assets/images/lock.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	right:27px;
	bottom:5px;
}
#conversation-list{
    grid-area: conversation-list;
    overflow-y: scroll;
}

.conversation{
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    position:relative;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #690b03;
    padding: 20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover{
    background: #7e1603;
}

.conversation:hover{
    cursor: pointer;
}

/* .conversation > img{
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
} */
.type_msg{
    display: inline-flex;
    background-color: white !important;
    border-radius: 15px 15px 15px 15px !important;
    height: 80%;
    resize: center;
    padding-left: 10px;
    padding-right:10px;
    flex-grow: 100;
    overflow: auto;
    font-size: 18px;
    -ms-overflow-style:none;
}
.type_msg::-webkit-scrollbar{
    width:0!important;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.title-text{
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    /* overflow-x: hidden; */
    /* text-overflow: ellipsis; */
}

.created-date{
    color: #ddd;
    font-size: 1rem;
    /* padding-left: 10px; */
    margin-left: 70%;
}

.conversation-message{
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

}

#new-message-container{
    display: grid;
    grid: 40px / 40px;
    align-content: center;
    grid-area: new-message-container;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    padding: 0 15px;
    justify-content: space-evenly;
}

#new-message-container a{
    display: grid;
    place-content: center center;
    background: #eee;
    border-radius: 100%;
    color: #7e1603;
    text-decoration: none;
    font-size: 3.6rem;
}

#chat-title,
#chat-form{
    background: #eee;
}

#chat-title{
    display: inline-flex;
    /* grid: 36px / 1fr 36px; */
    /* align-content: center; */
    align-items: center;
    color: #7e1603;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    padding: 0 20px;
    justify-content: space-between;
}


#resetprob{
    width: 8em;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    background: #7e1603;
    border: none;
    padding-right: 12px;
}

#endprob{
    width: 5em;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    background: #7e1603;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: auto;
}

#chat-area{
    margin-top: 5px;
    grid-area: chat-area;
    overflow: auto;
}

#chat-message-list{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
}

.message-row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message-content{
    display: grid;
}

.message-content img{
    width: 50px;
    height: 50px;
}

.you-message{
    justify-content: end;
}

.you-message .message-content{
    justify-items: end;
}

.other-message{
    justify-content: start;
}

.other-message .message-content{
    grid-template-columns: 48px 1fr;
    grid-column-gap: 15px;
}

.message-row img{
    border-radius: 100%;
    grid-row: span 2;
}

.message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message-time{
    font-size: 1.3rem;
    color: #777;
}

.you-message .message-text{
    background: #7e1603;
    color: #eee;
    border: 1px solid #7e1603;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text{
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

#chat-form{
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
}

#chat-form input{
    margin: 8px;
    width: 80%;
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}

::-webkit-scrollbar{
    display: none;
}

#buttons{
	margin-left: 10px;
    display: inline-flex;
}

#buttons > button{
    color: #7e1603;
    border: none;
}

#abort,#stop{
	display:none;
}

#send:hover,#mic:hover,#add-problem:hover{
	background-color:rgba(23, 8, 193, 0.5) !important;
	outline:0px !important;
}

#send:focus,#mic:focus,#add-problem:focus{
    outline:0px !important;
}

#casename{
    width: 100%;
    display: inline-flex;
    overflow-wrap: anywhere;
}
.logout{
	height: 42px;
	width: 45px;
	
	background: url('/assets/images/logout.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
}

#btngrp{
    display:inline-flex;
}

.send_btn{
    font-size: 15px;
}

.radioOpt{
   
    text-align: center;
    color: #7e1603;
    display: inline-flex;
}

.checkmark{
    font-weight: bold;
}

#overlay 
{
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    z-index: -1;
    visibility: hidden;
    transition: all 1s ease;
}
#popup {
    overflow-y: scroll; 
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 550px;
    max-height: 85vh;
    margin-left: -275px; /*Half the value of width to center div*/
    margin-top: -42.5vh; /*Half the value of height to center div*/
    z-index: -1;
    visibility: hidden;
}
#popupclose {
    position: absolute; 
    right: 0px;
    padding: 10px;
    cursor: pointer;
}
.popupcontent {
    padding: 10px;
}
#button {
    cursor: pointer;
}
@-webkit-keyframes pop-swirl {
  0% {
    transform: scale(0) rotate(360deg);
  }

  60% {
    transform: scale(0.8) rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-moz-keyframes pop-swirl {
  0% {
    transform: scale(0) rotate(360deg);
  }

  60% {
    transform: scale(0.8) rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-ms-keyframes pop-swirl {
  0% {
    transform: scale(0) rotate(360deg);
  }

  60% {
    transform: scale(0.8) rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-o-keyframes pop-swirl {
  0% {
    transform: scale(0) rotate(360deg);
  }

  60% {
    transform: scale(0.8) rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes pop-swirl {
  0% {
    transform: scale(0) rotate(360deg);
  }

  60% {
    transform: scale(0.8) rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes anvil {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }

  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
@-moz-keyframes anvil {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }

  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
@-ms-keyframes anvil {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }

  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
@-o-keyframes anvil {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }

  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
@keyframes anvil {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }

  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
#popup[data-pop="slide-down"] {
  top: -50%;
  transition: all .5s ease-in-out;
}
#popup[data-pop="slide-down"].show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  top: 50%;
}
#popup[data-pop="slide-down"].show ~ #overlay {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
#popup[data-pop="pop-in"] {
  transform: scale(0);
  transition: all .5s ease-in-out;
}
#popup[data-pop="pop-in"].show {
  transform: scale(1);
  visibility: visible;
  z-index: 200;
  opacity: 1;
}
#popup[data-pop="pop-in"].show ~ #overlay {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
#popup[data-pop="pop-swirl"] {
  transform: scale(0);
  transition: all .5s ease-in-out;
}
#popup[data-pop="pop-swirl"].show {
  -webkit-animation: pop-swirl 1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  visibility: visible;
  z-index: 200;
  opacity: 1;
}
#popup[data-pop="pop-swirl"].show ~ #overlay {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
#popup[data-pop="anvil"] {
  transition: all .5s ease-in-out;
}
#popup[data-pop="anvil"].show {
  -webkit-animation: anvil 1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  visibility: visible;
  z-index: 200;
  opacity: 1;
}
#popup[data-pop="anvil"].show ~ #overlay {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.popupcontent h1,h2{
  text-align: center;
  text-decoration: underline;
  font-weight:bold;
}
#report h3{
  font-weight: bold;
}
#report .sectionhead{
  text-decoration: underline;
}
#report table{
  width: 100%;
}
#report .tabhead{
  width:62%;
}
#report .outlist{
  list-style: disc;
  margin-left: 15px;
  font-size: 1.65rem;
  font-family: inherit;
}
#report .inlist{
  margin-left: 20px;
  font-size: 1.5rem;
  font-family: inherit;
}
#report .sectionsc{
  font-size: 1.65rem;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
}
