<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WZMTGS9BWM"></script>
  <%- include('../partials/_header.ejs') %>
</head>

<body style="background:url('../../assets/images/carousel-1.jpg');background-size: 100% 100%;">
<!-- NavBar -->
<%# include('../partials/_navbar1.ejs')%>

<!-- login/signup section -->
<%- include('partials/payment_partials.ejs')%>
 
 
 <!-- Footer   -->
<%# include('../partials/_footer_content.ejs')%>
  
<%- include('../partials/_footer_script.ejs')%>
</body>
</html>
